<h1>Новый заказ</h1>

<p>Любой запрос, который может изменить состояние системы - например, который изменяет данные в базе данных - должен использовать POST</p>

<p>Список пользователей:</p>
{% if latest_user_list %}
    <ul>
    {% for User in latest_user_list %}
        <li>{{ User.SurnameUser }} {{ User.NameUser }} </li> 
    {% endfor %}
    </ul>
{% endif %}

<p>Список продуктов:</p>

{% if latest_product_list %}
    <ul>
    {% for Product in latest_product_list %}
        <li>{{ Product.NameProduct }} </li> 
    {% endfor %}
    </ul>
{% endif %}

<p>Службы доставки:</p>

{% if latest_delivery_list %}
    <ul>
    {% for DeliveryService in latest_delivery_list %}
        <li>{{ DeliveryService.NameServis }} </li> 
    {% endfor %}
    </ul>
{% endif %}

<p>Для оформления нового заказа выберете из списка своего пользователя, продукт, колличество, и службу доставки</p>