{% extends "lunch/base.html" %}

    {% block content %}
<h1>{{ order.UserID.SurnameUser }} {{ order.UserID.NameUser }}</h1>
<h2>{{ order.DateOrder }}</h2>
<p>Login: {{ order.UserID.Login }} </p>
<p>Email: {{ order.UserID.Email }}</p>


<ul>
{% for OrderProductLine in order.orderproductline_set.all %}
    <li>Заказан продукт: {{ OrderProductLine.ProductID.NameProduct }} 
	в количестве  {{ OrderProductLine.NumProduct }} штук. Служба доставки: 
	{{ OrderProductLine.ProductID.DeliveryID.NameServis }}</li>
{% endfor %}
</ul>
<br>
<p><a href = "{% url 'lunch:order_list' %}">На главную </p>
    {% endblock %}