{% extends "lunch/base.html" %}
{% block content %}
		<p>Добро пожаловать в личный кабинет!</p>	
		<div class="profile">
			<h1>Мой профиль</h1>
			{% if user.is_authenticated %}
			<table>
				<tr>
					<td>Логин: </td> 
					<td>{{ user.username }}</td>
				</tr>
				
				<tr>
					<td>Фамилия: </td> 
					<td>{{ user.last_name }}  </td>
				</tr>
				
				<tr>
					<td>Имя: </td> 
					<td>{{ user.first_name }}</td>
				</tr>
				
				<tr>
					<td>email: </td> 
					<td>{{ user.email }}</td>
				</tr>
				
								<tr>
					<td>Привелигерованная группа: </td> 
					<td>{{ user.is_staff }}</td>
				</tr>
				
				<tr>
					<td>Админ: </td> 
					<td>{{ user.is_superuser }}  </td>
				</tr>
				
				<tr>
					<td>Дата входа: </td> 
					<td>{{ user.last_login }}</td>
				</tr>
				
				<tr>
					<td>Дата регистрации: </td> 
					<td>{{ user.date_joined }}</td>
				</tr>
				
			</table>
			{% endif %}
			</div>	
			<div class="new_order">
				<a href="{% url 'lunch:order_new' %}">Сделать новый заказ </a>
			</div>	
			<div class="history_of_orders">
				<h1>Мои заказы</h1>
			</div>			
{% endblock %}