{% extends "preg/base.html" %}
{% block content %}

<h1>Оформление всего заказа</h1>

{% if all_order_list %}
	<ul>
		{% for OrderConfirmation in all_order_list %}
			<li><p>Фамилия: {{ OrderConfirmation.ConfirmationOrderID.UserID.user.last_name}}</p>
				<p>Имя: {{ OrderConfirmation.ConfirmationOrderID.UserID.user.first_name}}</p>
				<p>Дата заказа:</p>
				<p>Список продуктов: </p>
			</li>
			<table border="3" height="25" width="800" cols="5" cellspacing="10">
					<tr>
					<td > Продукт:</td> 
					<td > Количество: </td> 
					<td > Служба доставки: </td> 
					<td > Телефон: </td> 
					<td > В наличии: </td> 
					</tr>
			{% for OrderProductLine in OrderConfirmation.ConfirmationOrderID.orderproductline_set.all %}

					<tr>
					<td > {{ OrderProductLine.ProductID.NameProduct }} </td> 
					<td > {{ OrderProductLine.NumProduct }} </td> 
					<td > {{ OrderProductLine.ProductID.DeliveryID.NameServis }} </td> 
					<td > {{ OrderProductLine.ProductID.DeliveryID.Telephone }} </td> 
					<td > {{ OrderProductLine.Confirmation }} </td> 
					</tr>

			{% endfor %}
				</table>
			<br>
		{% endfor %}
	</ul>
	<p>Общая сумма заказа: {{ user_price_list_sum }} $</p>
<form method="post" action="">
{% csrf_token %}
{{ form.as_p}}
<button type="submit" class="save btn btn-default">Оформить заказ</button>
</form>
		{% else %}
			<p>Все заказы оформлены! </p><p><a href="{% url 'preg:order_list' %}">Назад</a><p>
{% endif %}	
{% endblock %}
