{% extends "preg/base.html" %}

{% block content %}
<h4>{% if user.is_authenticated %}Привет, {{ user.username }}{% endif %}</h4>

<div class="Order">

	<h1>Последние заказы</h1>
		{% if latest_order_list_false %}
			<ul>
			{% for OrderConfirmation in latest_order_list_false %}
				<li><a href="{% url 'preg:order_detail2' OrderConfirmation.id %}">Дата заказа: {{ OrderConfirmation.ConfirmationOrderID.DateOrder}}</a></li> 
			{% endfor %}
			</ul>
		{% else %}
    <p>Записи не найдены.</p>
{% endif %}	

	<h1>Последние полученные заказы</h1>
		{% if latest_order_list_true %}
			<ul>
			{% for OrderConfirmation in latest_order_list_true %}
				<li><a href="{% url 'preg:order_detail' OrderConfirmation.id %}">Дата доставки: {{ OrderConfirmation.DateConfirmation}}</a></li> 
			{% endfor %}
			</ul>
		{% else %}
    <p>Записи не найдены.</p>
{% endif %}	

</div>

<div class="myaccount">
	<p><a href = "{% url 'preg:my_profile' %}">Личный кабинет </p>
</div>

{% endblock content %}
