{% extends "preg/base.html" %}

{% block content %}
<h1>{{ order.ConfirmationOrderID.UserID.user.last_name }} {{ order.ConfirmationOrderID.UserID.user.first_name}}</h1>
<h3>Дата заказа: {{ order.ConfirmationOrderID.DateOrder }}</h3>
<p>Статус: Заказ еще не доставлен</p>
<p>Login: {{ order.ConfirmationOrderID.UserID.user.username }} </p>
<p>Email: {{ order.ConfirmationOrderID.UserID.user.email }}</p>


<ul>
{% for OrderProductLine in order.ConfirmationOrderID.orderproductline_set.all %}
    <li>Заказан продукт: {{ OrderProductLine.ProductID.NameProduct }} 
	в количестве  {{ OrderProductLine.NumProduct }} штук. Служба доставки: 
	{{ OrderProductLine.ProductID.DeliveryID.NameServis }}. Телефон: {{ OrderProductLine.ProductID.DeliveryID.Telephone }}</li>
</ul>
Наличие продукта в службе доставки: {{ OrderProductLine.Confirmation }}
{% endfor %}


<form method="post" action="">
{% csrf_token %}
{{ form.as_p}}
<button type="submit" class="save btn btn-default">Подтвердить доставку</button>
</form>
{% endblock %}
