{% extends "preg/base.html" %}
{% block content %}
		<p>Добро пожаловать в личный кабинет!</p>
		{% if user.is_authenticated %}
		<div class="profile">
		
			<h1>Мой профиль</h1>
			<a class="btn btn-default" href="{% url 'preg:edit_profile' %}"><span class="glyphicon glyphicon-pencil"> profile</span></a>
			<a class="btn btn-default" href="{% url 'preg:edit_pass' %}"><span class="glyphicon glyphicon-pencil"> password</span></a>

			<table>
				<tr>
					<td>Логин: </td> 
					<td>{{ user.username }}</td>
				</tr>
				
				<tr>
					<td>Фамилия: </td> 
					<td>{{ user.last_name }}  </td>
				</tr>
				
				<tr>
					<td>Имя: </td> 
					<td>{{ user.first_name }}</td>
				</tr>
				
				<tr>
					<td>email: </td> 
					<td>{{ user.email }}</td>
				</tr>
				
								<tr>
					<td>Привелигерованная группа: </td> 
					<td>{{ user.is_staff }}</td>
				</tr>
				
				<tr>
					<td>Админ: </td> 
					<td>{{ user.is_superuser }}  </td>
				</tr>
				
				<tr>
					<td>Дата входа: </td> 
					<td>{{ user.last_login }}</td>
				</tr>
				
				<tr>
					<td>Дата регистрации: </td> 
					<td>{{ user.date_joined }}</td>
				</tr>
			</table>
			
			</div>	
			<div class="new_order">
				<a href="{% url 'preg:order_new' %}">Сделать новый заказ </a>
			</div>	

				<h1>Мои заказы</h1>
				{% if confirmation_list %}
					<ul>
						{% for Order in confirmation_list %}
							<li><a href="{% url 'preg:user_order_detail' Order.id%}">Date order: {{ Order.DateConfirmation}}</a></li> 
						{% endfor %}
					</ul>
				{% else %}
					<p>No preg are available.</p>

			{% endif %}
			
			
			<div class="cash">
			<h1>Движение денег</h1>
			{% if cash_list %}
					<ul class="tableCash">
						{% for CashMove in cash_list %}
							<li><p>{{ CashMove.AmountMoney }} $</p></li> 
						{% endfor %}
					</ul>
				{% else %}
					<p>No preg are available.</p>
			{% endif %}
			</div>
			{% endif %}	
			
			
			
{% endblock %}