{% extends "preg/base.html" %}
{% block content %}


<p>Дата заказа: {{ order.ConfirmationOrderID.DateOrder }}</p>

<ul>
{% for OrderProductLine in order.ConfirmationOrderID.orderproductline_set.all %}
    <li>Заказан продукт: {{ OrderProductLine.ProductID.NameProduct }} 
	в количестве  {{ OrderProductLine.NumProduct }} штук. Стоимость продукта:  {{ OrderProductLine.ProductID.Price }} за шт. Служба доставки: 
	{{ OrderProductLine.ProductID.DeliveryID.NameServis }} 
	</li>
	Наличие продукта в службе доставки: {{ OrderProductLine.Confirmation }}
{% endfor %}
</ul>
<p>Потрачено: -{{ user_balance }} $</p>

<p>Статус доставки заказа: {{ order.Confirmation}} </p>
<p><a href="{% url 'preg:my_profile' %}">Назад</a></p>

{% endblock %}